{% if pageCount > 1 %}
    <div class="pagination">
        {% if first is defined and current != first %}
            <span class="first">
            <a class="fs18px" href="{{ path(route, query|merge({(pageParameterName): first})) }}#catalog" title="Первый">&lt;&lt;</a>
        </span>
        {% endif %}

        {% if previous is defined %}
            <span class="previous">
            <a class="fs18px" href="{{ path(route, query|merge({(pageParameterName): previous})) }}#catalog" title="Предыдущий">&lt;</a>
        </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="page">
                <a class="fs18px" href="{{ path(route, query|merge({(pageParameterName): page})) }}#catalog">{{ page }}</a>
            </span>
            {% else %}
                <span class="current fs18px" >{{ page }}</span>
            {% endif %}

        {% endfor %}

        {% if next is defined %}
            <span class="next">
            <a class="fs18px" href="{{ path(route, query|merge({(pageParameterName): next})) }}#catalog" title="Следующий">&gt</a>
        </span>
        {% endif %}

        {% if last is defined and current != last %}
            <span class="last">
            <a class="fs18px" href="{{ path(route, query|merge({(pageParameterName): last})) }}#catalog" title="Последний">&gt;&gt;</a>
        </span>
        {% endif %}
    </div>
{% endif %}
