{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }} : Результаты поиска по запросу "{{ searchText }}"
{% endblock  %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cinemax/css/catalog.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/cinemax/css/rcarousel_catalog.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block body %}
    <a name="aftersearch"></a>
    <div class="all_catalog">
        <span class="catalog_title">Результаты поиска</span>
        <div style="position: relative;">
            <div class="sort_header"></div>
        </div>
        <div class="catalog_to_bin catalog_title"><a href="{{ path('cinemax_bin_discs')}}#bin"><p>Перейти в корзину</p></a></div>
        {% if pagination|length %}
                <div class="all_catalog_inner_border">
                    {% for disc in pagination %}
                        {% include  "CinemaxBundle:content:item.html.twig" with { 'disc': disc } %}
                    {% endfor %}
                </div>
                <div class="paginate">
                        {{ knp_pagination_render(pagination) }}
                </div>

        {% else %}
                <div class="all_catalog_inner_border">
                    <div class="not_founded">
                        <span>По вашему запросу ничего не найдено</span>
                    </div>
                </div>
         {% endif %}

    </div>
{% endblock %}