{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if field_description.options.editable is defined and field_description.options.editable and admin.isGranted('EDIT', object) %}
        {% if value is empty %}
            {% set value = 0 %}
        {% endif %}
        <div>
            <div class="admin_edit_price">
                <input class="admin_edit_price_input" type="text" value="{{ value }}"/>

                <div>
                    <a href="{{ url('sonata_admin_set_object_field_value', { 'context': 'list', 'field': field_description.name, 'objectId': admin.id(object),
                    'code': admin.code(object) }) }}" class="sonata-ba-action sonata-int-edit-inline">
                        <i class="icon-ok-circle"></i>
                    </a>
                    <a href="javascript:void(0)" class="sonata-ba-action sonata-int-cancel-inline">
                        <i class="icon-ban-circle"></i>
                    </a>
                </div>
            </div>
                <a href="{{ admin.generateObjectUrl(field_description.options.route.name, object, field_description.options.route.parameters) }}" class="admin_price" onclick="return false;">
                    {{ value }}
                </a>
        </div>

    {% else %}
        {{ value }}
    {% endif %}
{% endblock %}