{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} : {{ "title_user_change_password" | trans({}, 'SonataUserBundle')}}
{% endblock %}
{% block fos_user_content %}
<div class="span9">
    <div class="register">
        <div class="titleHeader clearfix">
            <h3>{{ "my_account" | trans({}, 'SonataUserBundle')}}</h3>
        </div><!--end titleHeader-->
    {{ form_errors(form) }}

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
        <h4 style="text-transform: none">&nbsp;&nbsp;&nbsp;&nbsp;{{ "title_user_change_password" | trans({}, 'SonataUserBundle')}}</h4>
        {{ form_errors(form) }}

        <div class="control-group">
            {{ form_label(form.current_password, "form.current_password"|trans({}, 'FOSUserBundle'), {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.current_password) }}
            <div class="controls">{{ form_widget(form.current_password) }}</div>
        </div>


        <div class="control-group">
            {{ form_label(form.new.first,"form.new_password"|trans({}, 'FOSUserBundle'), {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.new.first) }}
            <div class="controls">{{ form_widget(form.new.first) }}</div>
        </div>

        <div class="control-group">
            {{ form_label(form.new.second,"form.new_password_confirmation"|trans({}, 'FOSUserBundle'), {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.new.second) }}
            <div class="controls">
                {{ form_widget(form.new.second) }}
            </div>
        </div>

        {{ form_rest(form) }}
        <div class="control-group">
            <div class="controls">
                <input type="submit" name="submit" class=" btn btn-primary" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>

    </form>
   </div>
</div>
{% endblock fos_user_content %}
