{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} : {{ "title_user_change_password" | trans({}, 'SonataUserBundle')}}
{% endblock %}
{% block search %}
    <div class="search">
        {% render controller('CinemaxBundle:Search:ShowForm') %}
    </div>
{% endblock %}
{% block body %}
<div class="edit_block">
    <div class="register">
        <div class="titleHeader">
            <h2>{{ "my_account" | trans({}, 'SonataUserBundle')}}</h2>
        </div><!--end titleHeader-->
    {{ form_errors(form) }}

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
        <h3 style="text-transform: none; margin-bottom: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;{{ "title_user_change_password" | trans({}, 'SonataUserBundle')}}</h3>
        {{ form_errors(form) }}

        <div class="control-group">
            {{ form_label(form.current_password, "form.current_password"|trans({}, 'FOSUserBundle'), {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.current_password) }}
            <div class="controls">{{ form_widget(form.current_password, {'attr': {'class': 'login_password'}}) }}</div>
        </div>


        <div class="control-group">
            {{ form_label(form.new.first,"form.new_password"|trans({}, 'FOSUserBundle'), {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.new.first) }}
            <div class="controls">{{ form_widget(form.new.first, {'attr': {'class': 'login_password'}}) }}</div>
        </div>

        <div class="control-group">
            {{ form_label(form.new.second,"form.new_password_confirmation"|trans({}, 'FOSUserBundle'), {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.new.second) }}
            <div class="controls">
                {{ form_widget(form.new.second, {'attr': {'class': 'login_password'}}) }}
            </div>
        </div>

        {{ form_rest(form) }}
        <div class="control-group">
            <div class="controls">
                <input type="submit" name="submit" class="button_register" style="width: 180px;" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>

    </form>
   </div>
</div>
{% endblock %}
