{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cinemax/css/catalog.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/cinemax/css/rcarousel_catalog.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/cinemax/js/ajax_sort.js') }}" type="text/javascript" ></script>
{% endblock %}
{% block search %}
    <div class="search">
        {% render controller('CinemaxBundle:Search:ShowForm') %}
    </div>
{% endblock %}
{% block body %}
    <a name="catalog"></a>
    <div class="all_catalog">
        <span class="catalog_title">{{ title }}</span>
        <div style="position: relative;">
        <div class="sort_header">Сортировка по типам</div>
        <ul class="layout_sort">
            <li class="float_left"><a href="{{ path('cinemax_sort_by_type', {'type':'Фильм'}) }}#catalog">Фильм&nbsp</a></li>
            <li class="float_left"><a href="{{ path('cinemax_sort_by_type', {'type':'Мультфильм'}) }}#catalog">Мультфильм&nbsp</a></li>
            <li class="float_left"><a href="{{ path('cinemax_sort_by_type', {'type':'Клип'}) }}#catalog">Клип&nbsp</a></li>
            <li class="float_left"><a href="{{ path('cinemax_sort_by_type', {'type':'Сериал'}) }}#catalog">Сериал&nbsp</a></li>
            <li class="float_left"><a href="{{ path('cinemax_sort_by_type', {'type':'Мультсериал'}) }}#catalog">Мультсериал</a></li>
        </ul>
        </div>
        <div class="catalog_to_bin catalog_title"><a href="{{ path('cinemax_bin_discs')}}#bin"><p>Перейти в корзину</p></a></div>
        <div class="all_catalog_inner_border">
            {% for disc in pagination %}
                {% include  "CinemaxBundle:content:item.html.twig" with { 'disc': disc } %}
            {% endfor %}
        </div>
        <div class="paginate">
            {{ knp_pagination_render(pagination) }}
        </div>
     </div>
{% endblock %}